./venvs 
.env
AOAI_Inegration_Demo/
AOAI-JS/
AOAII_V1/
azure-openai-in-a-day-workshop/
ChadWik/
Tests/
Playground.sln
MM.sln
.vscode/
PBI/
venvs

# Angular build output
/dist/
/out-tsc/

# Node modules
/node_modules
**/node_modules/
/server/node_modules/*
/GlitchyWeb/server/node_modules/
server/node_modules/*
server/node_modules

# IDE and editor files
/.idea/
/.vscode/
/*.suo
/*.ntvs
/*.njsproj
/*.sln
/*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Compiled files
*.dll
*.exe
*.out
*.pyc
*.pyo
*.pyd
*.pid
*.tgz
*.gz
*.zip

# Coverage directory used by tools like istanbul
/coverage/

# Temporary files
/tmp
/temp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Node 
/GlitchyWeb/package-lock.json
/GlitchyWeb/server/package-lock.json
