<div class="register-container">
    <h2>Registration Form</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <label for="firstname">First Name:</label><br>
        <input type="text" id="firstname" formControlName="firstname"><br><br>
        <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" formControlName="lastname"><br><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" formControlName="username"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" formControlName="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" formControlName="password"><br><br>
        <button type="submit">Register</button>
    </form>
</div>
